.contenedor {
  max-width: 1280px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.barranavegacion {
  display: flex;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  padding: 15px 20px; /* para darle altura y espacio interior */
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
}
.favoritos {
  order: 7;
}
.carrito {
  order: 8;
}
.menu {
  order: 1;
}
.perfil {
  order: 6;
}

.modahombre {
  font-size: 14px;
  order: 3;
}
.modamujer {
  font-size: 14px;
  order: 2;
}
.nuevacoleccion {
  font-size: 14px;
  order: 4;
}

.colespec {
  font-size: 14px;
  order: 5;
}

.infoarticulo {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;

  justify-items: center;
}
.producto {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  align-items: start;
  height: 50px;
  width: auto;
  padding: 20px;
  background-color: #212429;
}
.foot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.entregaicono {
  background-color: white;
  border-radius: 40px;
  display: flex;
  width: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 40px;
}
.devolucionesycambios {
  margin-left: 100px;
}
.tlfcontacto {
  background-color: white;
  border-radius: 40px;
  display: flex;
  width: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 100px;
}
.prefijo {
  margin-right: 7px;
}
.numtlf {
  align-items: center;
  display: flex;
}
.correo {
  background-color: white;
  border-radius: 40px;
  display: flex;
  width: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 100px;
}
.direccioncorreo {
  align-items: center;
  display: flex;
}
