.barranavegacion {
  display: flex;
  font-size: 16px;

  justify-content: space-between;
}
.favoritos {
  order: 7;
}
.carrito {
  order: 8;
}
.menu {
  order: 1;
}
.perfil {
  order: 6;
}

.modahombre {
  font-size: 14px;
  order: 3;
}
.modamujer {
  font-size: 14px;
  order: 2;
}
.nuevacoleccion {
  font-size: 14px;
  order: 4;
}

.colespec {
  font-size: 14px;
  order: 5;
}

.infoarticulo {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;

  justify-items: center;
}
.producto {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: auto;
  padding: 16px;
  background-color: dimgrey;
}
.entrega {
  background-color: white;
  display: grid;
  justify-content: center;
  border-radius: 20px;
}
